@model List<SharedObjects.ValueObjects.VDetail>;
@using SharedObjects.Extensions;
@{
    var customers = ViewData["customers"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>;
    var categories = ViewData["categories"] as IEnumerable<SharedObjects.ValueObjects.VCategory>;
    var suppliers = ViewData["suppliers"] as IEnumerable<SharedObjects.ValueObjects.VSupplier>;
}
<table class="table table-bordered table-hover table-striped table-responsive">
    <thead>
        <tr class="text-center bold">
            <th>No.</th>
            <th>Customer</th>
            <th>Fixture ID</th>
            <th>Part Number</th>
            <th>Location</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Used Times</th>
            <th>Limit</th>
            <th>Trigger Limit</th>
            <th>Description</th>
            <th>Latest Update Date</th>
            <th>Latest Update By</th>
            @*<th>Status</th>*@
            @{ if (User.IsInRole("Configuraton Admin") || User.IsInRole("SYSTEM ADMIN"))
                {

                    <th>Modification</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>New</td>
            <td>
                <select class="form-control" id="txt-customer" required onchange="fncOnchange1()">
                    <option value="">Please Select</option>
                    @foreach (var item in customers.OrderByDescending(c => c.CustId).ToList())
                    {
                        <option value=@item.CustId>@item.CustName</option>
                    }
                </select>
            </td>
            <td>
                <select class="form-control" id="txt-machineName" style="height: 34px !important; color: mediumvioletred">
                    <option value="">Please Select Customer</option>
                </select>
            </td>
            <td>
                <input id="txt-partNumber" type="text" class="form-control" style="height:30px" />
            </td>
            <td>
                <input id="txt-location" type="text" class="form-control" style="height:30px" />
            </td>
            <td>
                <select class="form-control" id="txt-category" style="height: 34px !important; color: mediumvioletred">
                    <option value="">Please Select</option>
                    @foreach (var item in categories.OrderByDescending(c => c.CategoryId).ToList())
                    {
                        <option value=@item.CategoryId>@item.CategoryName</option>
                    }
                </select>
            </td>
            <td>
                <select class="form-control" id="txt-supplier" style="height: 34px !important; color: mediumvioletred">
                    <option value="">Please Select</option>
                    @foreach (var item in suppliers.OrderByDescending(c => c.SupplierId).ToList())
                    {
                        <option value=@item.SupplierId>@item.Supplier</option>
                    }
                </select>
            </td>
            <td></td>
            <td>
                <input id="txt-limit" type="number" class="form-control" tyle="height:30px" />
            </td>
            <td>
                <input id="customLimit" type="checkbox" onclick="Change(this.checked)">
                <input id="txt-triggerLimit" type="number" class="form-control" style="height:30px;visibility: hidden" />
            </td>
            <td>
                <input id="txt-description" type="text" class="form-control" tyle="height:30px" />
            </td>
            <td></td>
            <td></td>
            @*<td></td>*@
            <td class="text-center">
                <a id="btn-add" class="btn default btn-xs purple update" title="Add"> <span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.rc</td>
                <td>@item.CustName</td>
                <td>@item.MachineName</td>
                <td>@item.PartNumber</td>
                <td>@item.Location</td>
                <td>@item.CategoryName</td>
                <td>@item.Supplier</td>
                <td>@item.UsedTimes</td>
                <td>@item.Limit</td>
                <td>@item.TriggerLimit</td>
                <td>@item.Description</td>
                <td>@item.UpdateDate</td>
                <td>@item.DisplayName</td>
                @*<td>@item.Status</td>*@
                @{ if (User.GetSpecificClaim("RoleId") != "-1")
                    {
                        if (item.StatusId == 1)
                        {
                            <td class="text-center">@item.Status</td>
                        }
                        else
                        {
                            <td class="text-center">
                                <a id="btn-delete" class="btn default btn-xs purple" data-detailid="@item.DetailId" data-location="@item.Location" title="Delete">  <span class="glyphicon glyphicon-trash"></span></a>
                                <a id="btn-edit" class="btn default btn-xs purple" data-detailid="@item.DetailId" data-location="@item.Location" data-partnumber="@item.PartNumber" data-limit="@item.Limit" data-supplierId="@item.SupplierId" data-categoryId="@item.CategoryId" data-triggerlimit="@item.TriggerLimit" data-toggle="modal" data-target="#myModal" title="Edit"> <span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>


@section Script{

    <script type="text/javascript" src="~/js/common-detail.js"></script>

}