@model SharedObjects.ViewModels.SearchInputModel;
@{
    ViewData["Title"] = "Detail Parts";
    var customers = ViewData["customers"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>;
    var categories = ViewData["categories"] as IEnumerable<SharedObjects.ValueObjects.VCategory>;
    var suppliers = ViewData["suppliers"] as IEnumerable<SharedObjects.ValueObjects.VSupplier>;
}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="min-height: auto !important;height: auto !important">
                <div class="portlet-title">
                    <div class="caption col-md-12">
                        <span class="caption-subject font-green-sharp bold uppercase">
                            Detail Parts
                        </span>
                    </div>
                    <div class="col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Customer</label>

                        <select class="form-control" id="txt-customer-search" style="height: 34px !important; color: mediumvioletred">
                            <option value="">--Please Select--</option>

                            @foreach (var item in customers.OrderByDescending(c => c.CustId).ToList())
                            {
                                <option value=@item.CustId>@item.CustName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2 pull-left">
                        <label asp-for="MachineName" class="text- bold font-green-sharp"></label>
                        <select class="form-control" id="txt-machineName-search" style="height: 34px !important; color: mediumvioletred">

                            <option value="">--Please Select Customer--</option>

                        </select>
                    </div>
                    <div class="col-md-2 pull-left">
                        <label asp-for="CategoryId" class="text-center bold font-green-sharp"></label>
                        <select asp-for="CategoryId" class="form-control" id="txt-category-search" style=" height: 34px !important; color: mediumvioletred">
                            <option value="">--Please Select--</option>

                            @foreach (var item in categories.OrderByDescending(c => c.CategoryId).ToList())
                            {
                                <option value=@item.CategoryId>@item.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2 pull-left">
                        <label asp-for="SupplierId" class="text-center bold font-green-sharp"></label>
                        <select asp-for="SupplierId" class="form-control" id="txt-supplier-search" style=" height: 34px !important; color: mediumvioletred">
                            <option value="">--Please Select--</option>

                            @foreach (var item in suppliers.OrderByDescending(c => c.SupplierId).ToList())
                            {
                                <option value=@item.SupplierId>@item.Supplier</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="text-center bold font-green-sharp" for="">Part Number</label>
                        <label class="control-label"></label>
                        <input id="txt-partNumber-search" class="form-control col-md-3" style="color: mediumvioletred" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="text-center bold font-green-sharp" for="">Location</label>
                        <label class="control-label"></label>
                        <input id="txt-location-search" class="form-control col-md-3" style="color: mediumvioletred" />
                    </div>
                    <div class="form-group col-md-12">
                        <a class="btn btn-success" id="btn-search">Search</a>
                        <a class="btn btn-success" id="btn-reset">Reset</a>
                    </div>
                </div>

                <div id="tbl-main" class="table-responsive-lg">

                </div>
                <div class="pagination" id="pagination">
                </div>


            </div>

        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Detail Part Modification</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->

            <form class="modal-body" id="frm-save">
                <div class="form-group">
                    <label for="">Category</label>
                    <select class="form-control" id="txt-Category" style=" height: 34px !important; color: mediumvioletred">

                        @foreach (var item in categories.OrderByDescending(c => c.CategoryId).ToList())
                        {
                            <option value=@item.CategoryId>@item.CategoryName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Supplier</label>
                    <select class="form-control" id="txt-Supplier">

                        @foreach (var item in suppliers.OrderByDescending(c => c.SupplierId).ToList())
                        {
                            <option value=@item.SupplierId>@item.Supplier</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Location</label>
                    <input type="text" class="form-control" id="txt-Location">
                </div>
                <div class="form-group">
                    <label for="">Part Number</label>
                    <input type="text" class="form-control" id="txt-PartNumber">
                </div>
                <div class="form-group">
                    <label for="">Limit</label>
                    <input type="text" class="form-control" id="txt-Limit">
                </div>
                <div class="form-group">
                    <label for="">Trigger Limit</label>
                    <input type="text" class="form-control" id="txt-TriggerLimit">
                </div>
                <div class="form-group">
                    <label>Remark</label>
                    <input type="text" class="form-control" id="txt-description" />
                </div>
                <div class="form-group">
                    <input id="upload" type=file multiple name="files[]" accept=".xlsx">
                </div>
                <div id="fileList">
                </div>

                @*<div class="form-group custom-file">
                    <input id="file2" type="file" class="custom-file-input" name="files2" multiple onchange="javascript:updateList()" />
                    <label class="custom-file-label" for="file">
                        Choose Attachment
                    </label>
                </div>
                <ul id="fileList2" class="file-list"></ul>*@

            </form>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                <button type="button" class="btn blue" id="btn-submit">Submit</button>
            </div>

        </div>
    </div>
</div>
<!-- End Modal -->

@section Script{
    <script>
        function Change(checked) {
            if (checked) {
                document.getElementById('txt-triggerLimit').setAttribute("style", "visibility:visible")
            }
            else
                document.getElementById('txt-triggerLimit').setAttribute("style", "visibility:hidden")

        }
    </script>
    <script>
        function fncOnchange1() {
            var custId = parseInt(document.getElementById("txt-customer").value);

            $('#txt-machineName').empty();
            $('#txt-machineName').append($('<option>', {
                value: "",
                text: "--Please Select--"
            }));

            debugger
            $.ajax({
                type: 'post',
                url: '/common/Main_MachineName_get',
                dataType: 'json',
                data: { custId: custId },
                success: function (response) {
                    var data = response.result;
                    debugger
                    $.each(data, function (index, value) {
                        $('#txt-machineName').append($('<option>', {
                            value: value.machineId,
                            text: value.machineName
                        }));
                    });
                }
            });
        }
    </script>
    <script src="~/js/detail.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
}
