@model List<SharedObjects.ValueObjects.VLog>;

<table class="table table-bordered table-hover table-striped table-responsive">
    <thead>
        <tr class="text-center bold">
            <th>No.</th>
            <th>Customer</th>
            <th>Fixture ID</th>
            <th>PartNumber</th>
            <th>Location</th>
            <th>CategoryName</th>
            <th>Limit</th>
            <th>Used Times</th>
            <th>Activity</th>
            <th>Update By</th>
            <th>Update Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.No</td>
                <td>@item.CustName</td>
                <td>@item.MachineName</td>
                <td>@item.PartNumber</td>
                <td>@item.Location</td>
                <td>@item.CategoryName</td>
                <td>@item.Limit</td>
                <td>@item.UsedTimes</td>
                <td>@item.Message</td>
                <td>@item.UpdatedName</td>
                <td>@item.UpdateDate</td>
            </tr>
        }
    </tbody>
</table>
