
@model List<SharedObjects.ValueObjects.VReason>;
@{


    ViewData["Title"] = "Reason";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="height:1700px">
                <div class="portlet-title">
                    <div class="caption col-md-12">
                        <span class="caption-subject font-green-sharp bold uppercase">
                            Reason
                        </span>
                    </div>
                    <form id="frm-save-debugdata-body">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr class="text-center bold">
                                    <td>Supplier</td>
                                    <td>Description</td>
                                    @*<td>Created By</td>
                                    <td>Creation Date</td>
                                    <td>Updated By</td>
                                    <td>Update Date</td>*@
                                    <td style="width:100px">Modification</td>
                                </tr>
                            </thead>
                            <tbody id="table-data">

                                <tr class="text-center">
                                    <td>
                                        <input id="txt-supplier" type="text" class="form-control" tyle="height:30px" />
                                    </td>
                                    <td>
                                        <input id="txt-description" type="text" class="form-control" tyle="height:30px" />
                                    </td>
                                    @*<td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>*@
                                    <td class="text-center">
                                        <a id="btn-add" class="btn default btn-xs purple update" title="Add"> <span class="glyphicon glyphicon-plus"></span></a>
                                    </td>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">

                                        <td id="">@item.Reason</td>
                                        <td id="">@item.Remark</td>
                                        @*<td id="">@item.CreatedBy</td>
                                        <td id="">@item.CreationDate</td>
                                        <td id="">@item.UpdatedBy</td>
                                        <td id="">@item.UpdateDate</td>*@
                                        <td class="text-center">
                                            <a id="btn-delete" class="btn default btn-xs red delete" data-id="@item.ReasonId" data-reason="@item.Reason" title="Delete"> <span class="glyphicon glyphicon-remove"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script src="~/js/common-reason.js"></script>
}